---
import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import data from "../content/resume/resume.json";

import EnvelopeOpen from "../components/icons/EnvelopeOpen.astro";
import DevicePhoneMobile from "../components/icons/DevicePhoneMobile.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body
    class="container p-container-landing mx-auto bg-primary h-svh flex justify-center items-start"
  >
    <!-- <Header /> -->

    <!-- <Footer /> -->

    <main class="py-12 h-full">
      <div class="w-full text-base-light h-full flex flex-col justify-between">
        <div class="flex flex-col gap-4">
          <h1 class="display">{data.basics.name}</h1>
          <h2>{data.basics.label}</h2>
          <p>
            {data.basics.summary}
          </p>
        </div>

        <ul
          class="flex flex-col justify-end text-right gap-4 py-6 border-t border-base-light"
        >
          <li class="flex items-center justify-end gap-2">
            <a
              class="no-underline text-base-light"
              href={`mailto:${data.basics.email}`}>{data.basics.email}</a
            >
            <EnvelopeOpen />
          </li>
          <li class="flex items-center justify-end gap-2">
            <!-- TODO: Create parsing function for phone without special characters -->
            <a
              class="no-underline text-base-light"
              href={`tel:${data.basics.phone}`}>{data.basics.phone}</a
            >
            <DevicePhoneMobile />
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
